@using ShikoPetshop.Models;
@{
    ViewBag.Title = "SanPhamMoiVe";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@{
    IEnumerable<SanPham> lstSPCM = (IEnumerable<SanPham>)ViewBag.ListSPCM;
    IEnumerable<SanPham> lstSPMM = (IEnumerable<SanPham>)ViewBag.ListSPMM;
    }
<div class="container" style="margin-bottom:50px">
    <h3 data-aos="fade-right">Chó Mới Nhập Về</h3>
    <div class="col-12">
        <div class="row">
            <div class="agile_top_brands_grids">
                @Html.Partial("SanPhamPartial", lstSPCM)
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>  
</div>
<div class="container" style="margin-bottom:50px">
    <h3 data-aos="fade-left">Mèo Mới Nhập Về</h3>
    <div class="col-12">
        <div class="row">
            <div class="agile_top_brands_grids">
                @Html.Partial("SanPhamPartial", lstSPMM)
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>  
</div>

