@using ShikoPetshop.Models;

<div class="container" data-aos="fade-up">
    <div class="col-md-4 w3_footer_grid">
        <h3>DANH MỤC</h3>
        <ul class="w3_footer_grid_list">
            <li><a href="@Url.Action("Cho","Home")">Chó</a></li>
            <li><a href="@Url.Action("Meo","Home")">Mèo</a></li>
            <li><a href="products.html">Khác</a></li>
        </ul>
    </div>
    <div class="col-md-4 w3_footer_grid">
        <h3>NHÀ CUNG CẤP</h3>
        <ul class="w3_footer_grid_list">           
            <li><a href="@Url.Action("NuocNgoai","Home")">Nước Ngoài</a></li>
            <li><a href="@Url.Action("NoiDia","Home")">Nội Địa</a></li>
        </ul>
    </div>
    <div class="col-md-4 w3_footer_grid">
        <h3>LIÊN HỆ</h3>
        <ul class="w3_footer_grid_list">
            <li style="color:whitesmoke">shikopetshop@gmail.com</li>
            <li style="color:whitesmoke">SĐT: 07798120731</li>
        </ul>
    </div>
    <div class="clearfix"> </div>
    <div class="agile_footer_grids">
        <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
            <div class="w3_footer_grid_bottom">
                <h4>Thanh Toán An Toàn</h4>
                <img src="~/Content/images/card.png" alt=" " class="img-responsive" />
            </div>
        </div>
        <div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
            <div class="w3_footer_grid_bottom">
                <h5>Mạng xã hội</h5>
                <ul class="agileits_social_icons">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="wthree_footer_copy">
        <p>© 2016 Grocery Store. All rights reserved | Copyright <a href="#">ShikoPetshop</a></p>
    </div>
</div>